<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>投票应用</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!--<link rel="stylesheet" href="static/web/css/font-awesome.css"> -->
        <link rel="stylesheet" href="static/web/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/web/css/style.css">



    </head>
    <body>
    <div id="box">
        <!--幻灯片-->
        <div class="container">
            <div class="row">
                <div class="carousel slide" id="carousel1">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img alt="image" class="img-responsive" src="static/web/images/p_big3.jpg">
                                </div>
                                <div class="item">
                                    <img alt="image" class="img-responsive" src="static/web/images/p_big1.jpg">
                                </div>
                                <div class="item ">
                                    <img alt="image" class="img-responsive" src="static/web/images/p_big2.jpg">
                                </div>

                            </div>
                            <a data-slide="prev" href="carousel.html#carousel1" class="left carousel-control">
                                <span class="icon-prev"></span>
                            </a>
                            <a data-slide="next" href="carousel.html#carousel1" class="right carousel-control">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
            </div>

        <!--幻灯片end -->
        <!--奖项说明-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="text-center grandbtn">
                        <button type="button" class="btn btn-primary btn-outline" data-toggle="modal" data-target="#grand">
                            <i class="fa fa-star-half-empty">活动及奖项说明</i>
                        </button>
                    </div>

                    <div class="modal inmodal" id="grand" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                                        <h4>活动说明</h4>
                                    </div>
                                    <div class="modal-body text-left">
                                        <h4>奖项背景</h4>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <h4>奖项背景</h4>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <hr/>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <hr/>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <h4>奖项背景</h4>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>

                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <hr/>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <hr/>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <h4>奖项背景</h4>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>

                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <h4>奖项背景</h4>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>

                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <h4>奖项背景</h4>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>

                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>
                                        <p>一榜知天下。金勋奖被誉为“中国汽车服务业的奥斯卡”，是业内唯一通过实地调研及微友票选的、最具影响力、权威性和广泛性的评选。汽车服务金勋奖评选创办于2012年，由业内权威媒体《汽车服务世界》发起并承办，旨在通过赞赏行业先锋及优秀代表，推动汽车服务业规范化、规模化发展。</p>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--奖项说明---->

        <!--banner区域---->
        <div class="container">
            <div class="row" style="margin-left: 10px; margin-right: 10px;" id="voting_list_container">



              {% for voting  in voting_list %}

               <div class="col-xs-12 text-center">
               <a href="/list/{{ voting.id }}">
                <img src=/{{ voting.header }} alt="" width="100%">
                {{ voting.vote_theme }}</a>
              </div>

              {% endfor %}



            </div>
        </div>
        <!--banner区域 end---->

        <!-- 页脚 -->
        <footer class="site-footer">
            <div class="container">
                <!-- 赞助商 -->
                <div class="row" style="margin-left:6px; margin-right:6px;">
                    <div class="col-xs-3 text-center" style="padding-left: 2px; padding-right: 2px;">
                        <img src="static/web/images/ad_1.jpg" alt="" class="adimg">
                    </div>
                    <div class="col-xs-3 text-center" style="padding-left: 2px; padding-right: 2px;">
                        <img src="static/web/images/ad_2.jpg" alt="" class="adimg">
                    </div>
                    <div class="col-xs-3 text-center" style="padding-left: 2px; padding-right: 2px;">
                        <img src="static/web/images/ad_3.jpg" alt="" class="adimg">
                    </div>
                    <div class="col-xs-3 text-center" style="padding-left: 2px; padding-right: 2px;">
                        <img src="static/web/images/ad_4.jpg" alt="" class="adimg">
                    </div>
                </div>
                <!-- 赞助商end -->

                <!-- 版权申明 -->
                <div class="row copyright">
                    <div class="col-xs-12 text-center">
                        <p>@本活动最终解释权归汽车服务世界所有</p>
                    </div>
                </div>
                <!-- 版权申明end -->
            </div>
        </footer>

</div>
        <!-- 页脚end -->

       <script src="/static/web/js/jquery-2.1.1.min.js"></script>
      <script src="/static/web/js/bootstrap.min.js"></script>



    </body>
</html>
